body {
    background-color: #00fbff;
    color: #013e67;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 80vw;
    text-align: center;
    font-size: 30px;
    
    

    
}

#game-window {
    height: 50vh;
    width:  80vw;
    border: 5px black solid;
}