body {
    background-color: #00fbff;
    color: #faf0e6;
    background-image: URL('../images/joshua-bartell-6vvIBTvL90A-unsplash.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 80vw;
    text-align: center;
    font-size: 60px;
    
}

#game-window {
    height: 50vh;
    width:  80vw;
    border-radius: 20%;
    background-color: #F5F5DC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 40vh;
    width: 40vw;
}

.grid-item {
    border: 1px black solid;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    display: none;
}

#start-btn {
    height: 10vh;
    width: 20vw;
    font-size: 60px;
    position: relative;
    left: 250px;
}

#how-to-play-btn {
    height: 10vh;
    width: 20vw;
    font-size: 60px;
    position: relative;
    left: 500px;
}


